/* Regola globale */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  
  /* Regola per l'header */
  header {
    background-color: #0077be;
    color: #fff;
    padding: 30px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    font-size: 36px;
  }
  
  header h2 {
    margin: 10px 0;
    font-size: 24px;
  }
  
  /* Regola per le sezioni */
  section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  
  section h3 {
    margin: 0;
    font-size: 24px;
  }
  
  section ul {
    margin: 10px 0;
    padding-left: 20px;
  }
  
  section li {
    margin: 10px 0;
    font-size: 18px;
  }
  
  /* Regola per il footer */
  footer {
    background-color: #0077be;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
    font-size: 16px;
  }
  
  footer a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  
#social-link{
  position: absolute;
  left: 940px;
}
  
.li{
	display: inline-block;
	background-color: #0077be;
	padding: 5px 15px 5px 15px;
	border-radius: 8px;
  
	
}

a{
	color:white;
	font-weight: bold;
	font-family: arial;
  text-decoration: none;
	
}

a:hover{
	color: black;
	  
}

.p{
  font-size: 45px;
}

.li{
  
    background-color: #0077be;
    padding: 15px 40px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 10px 0 0 grey;
    transition: all 0.1s ease-in-out;
}

.li:active{
  transform: translateY(10px);
  box-shadow: 0 0 0 0#0077be;
}

#ig{
  color: black;
}

